.main-footer {
	margin: rem(20) 0;
	color: $color-gray;
	@include media(">=lg") {
		margin: rem(40) 0;
	}

	&__owner {
		color: $color-silver;
		@include font(14, 17);
		text-align: center;
	}

	&__owner-name {
		font-weight: $font-weight-bold;
		transition: color $default-transition;

		&:hover {
			color: $color-black;
		}
	}
}
