/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-emperor: #4f4f4f;
$color-jaffa: #f2994a;
$color-silver: #bdbdbd;
$color-mine-shaft: #333333;
$color-gray: #828282;
