/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-primary: #0c80ee;
$color-secondary: #00287d;
$color-silver: #bdbdbd;
