/*
----------------------------------------
FONTS
*/

$font-base: "Roboto Mono", monospace;
$font-montserrat: "Montserrat", sans-serif;
$font-size-base: rem(16);
$line-height-base: rem(28);

// font weights
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
