/*
----------------------------------------
FONTS
*/

//base values
$font-base: "Montserrat", sans-serif;
$font-size-base: rem(12);
$line-height-base: rem(15);

// font weights
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//families
$font-playfair-display: "Playfair Display", serif;
